# Archivos de entorno
.env
.json

# Archivos de backup de All-in-One WP Migration
*.wpress
**/wp-content/ai1wm-backups/

# Copias de seguridad personalizadas
/copias_de_seguridad/
**/backups/
**/*.sql
**/*.zip

# Archivos temporales del sistema
.DS_Store
Thumbs.db

# Archivos de logs
*.log

# Node modules (si usas npm o frontend)
node_modules/

# Archivos de caché
wp-content/cache/
wp-content/uploads/cache/
*.swp*
